<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MergeMate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header>Upload pdf files</header>
        <form action="#">
            <input type="file" class="input-file" name="pdfs" multiple accept=".pdf" hidden>
            <i class="fas fa-cloud-upload-alt"></i>
            <p>Browse file to upload</p>
        </form>
        <section class="progress-area"></section>
        <section class="uploaded-area"></section>
    </div>
    <div class="btn-wrapper">
        <button class="submit-btn">Merge PDFs</button>
    </div>

    <script src="/script/script.js"></script>
</body>
</html>